.modal {
	padding: 1rem;
	border-radius: 0.3rem;
	font-size: 1.2rem;
	background-color: var(--bg-color);
  min-width: min(80vw, 600px);
  color: var(--text-color);
	box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.233);
}

.task-title {
  font-weight: bold;
  font-size: clamp(1.5rem, 5vw, 2rem);
  margin-bottom: 1rem;

}

.btn-container {
	display: flex;
	justify-content: flex-end;
	background-color: transparent;
	border: none;
}

.btn-container button {
	background-color: transparent;
	border: none;
}

.btn-container button:hover {
	background-color: var(--hover-side-bar);
}

.title {
	font-weight: bold;
	font-size: 1.2rem;
  display: flex;
  gap: .5rem;
}

.modal span {
	font-weight: 500;
}
