.top-bar-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-inline: 1rem;
	background-color: var(--primary-color);
	position: fixed;
	top: 0;
	left: 0;
	padding: 0.4rem 1.5rem;
	height: var(--top-bar-height);
	z-index: 3;
	width: 100%;
}

.top-bar-container button {
	display: flex;
	background-color: transparent;
	border: none;
}

.top-bar-container svg {
	width: 30px;
	height: 30px;
	fill: #ffffffc7;
}

.burger-menu {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0.2rem;
}

.burger-menu svg {
	stroke: white;
}

.quick-search {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #ffffff5d;
	border-radius: 0.2rem;
	gap: 5px;
	color: #ffffffc7;
}

.top-bar-container input {
	outline: none;
	border: none;
	background-color: transparent;
	width: 50vw;
	max-width: 500px;
	font-size: 0.9rem;
	color: var(--text-color);
}

input::placeholder {
	color: white;
	opacity: 1;
}

.quick-search:hover {
	background-color: var(--hover-top-bar);
}

.toggle-theme {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #ffffffa8 !important;
	border-radius: 1.2rem;
	padding: 0 0.3rem;
	gap: 0.2rem;
}

.toggle-theme svg {
	width: 23px;
}

.btn {
	cursor: pointer;
}

.toggle-theme .circle {
	position: absolute;
	right: 0.4rem;
	background-color: var(--secondary-color);
	border-radius: 50%;
	width: 20px;
	height: 20px;
	transition: transform 0.5s ease;
}

.btn:hover {
	background-color: var(--hover-top-bar);
}

.search-modal {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 40px;
	width: 100%;
	color: var(--text-color);
	background-color: var(--bg-color);
	border-radius: 0.2rem;
	box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.377);
  overflow: hidden;
}

.search-modal button {
	border: none;
	cursor: pointer;
	padding: 1rem;
	background-color: rgba(255, 255, 255, 0.288);
	text-align: left;
	font-size: 1rem;
	color: var(--text-color);
}

.search-modal button:hover {
	background-color: var(--hover-dark-color);
}

@media screen and (max-width: 600px) {
	.top-bar-container {
		justify-content: left;
		gap: 5vw;
		padding: .4rem .5rem;
	}
	.quick-search {
		flex: 1;
	}
	input {
		flex: 1;
	}
}
